<%-include('header')-%>

<div class="text-center center-div" id="login">
     <div class="container w-25 py-5" id="main-login">
         <div class="title">
            <h2 class="font-weight-bold">
                Login
            </h2>
            <span>Log in for existing user</span>
            <%if(locals.login){ %>
                <div class="alert alert-danger text-center" id="invalid">
                    <%=login%>
                </div>
                <% } %>
         </div>
         <form action="/route/login" method="post" class="pt-3">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email" name="email" required>
                <small class="form-text text-muted text-left">Register email address</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password" >
            </div>
            <button type="submit" class="btn btn-success rounded-pill">Submit</button>
         </form>
     </div>
</div>


<%-include('footer')-%>